<div id="images" class="text-xl mb-3">Images</div>
<div class="grid grid-cols-3 gap-3">
    <img class="" src="/static/img/cat/cat_01.webp" alt="">
    <img class="" src="/static/img/cat/cat_02.webp" alt="">
    <img class="" src="/static/img/cat/cat_03.webp" alt="">
</div>

<div class="grid grid-cols-3 gap-3">
    <img class="" src="/static/img/cat/cat_07.webp" alt="">
    <img class="" src="/static/img/cat/cat_04.webp" alt="">
    <img class="" src="/static/img/cat/cat_05.webp" alt="">

</div>

<div class="grid grid-cols-3 gap-3">
    <img class="" src="/static/img/cat/cat_06.webp" alt="">
    <img class="" src="/static/img/cat/cat_08.webp" alt="">
    <img class="" src="/static/img/cat/cat_09.webp" alt="">
</div>